body{
  margin: 0;
  padding: 0;
  background-color: hsl(275, 100%, 97%);
  height: 100vh;
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat ;
  background-size: contain;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Work Sans;
  color: hsl(292, 42%, 14%);
}
main{
  margin: 0;
  padding: 10px 30px 20px 30px;
  background-color: #ffffff;
  width: 80%;
  border-radius: 10px;
}
p{
  font-weight: 700;
  font-size: 16;
  margin-bottom: 20px;
}
h1{
  display: flex;
}
.star{
  height: 20px;
  margin-right: 20px;
}
span{
  color: hsl(292, 16%, 49%);
}